/* mobile phones */
@media screen and (max-width:576px){
    .container{
        width: 100%;
        height: 100%;
    }
    #main{
        flex-direction: column;
    }
    #container1{
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    }
    #container2{
        width: 100%;
        justify-content: space-between;
    }
    #container3{
        width: 100%;
        border-radius: 0px 0px 20px 20px;
    }
    #temp-date{
        height: 100%;
        border-radius: 20px 20px 0px 0px;
    }
    #info1,#info2,#info3{
        width: 0;
        height: 0;
    }
    
    #clock{
        visibility: collapse;
        height: 0;
        width: 0;
    }
    #title{
        font: 0.1rem;
        position: absolute;
        visibility: collapse;
    }
    #clock{
        visibility: collapse;
        width: 0;
        height: 0;
    }
    #overview-four-boxes{
        height: 100%;
    }
    #four-boxes{
        height: 80%;
    }
    #overview{
        line-height: 0;
    }
}
/* tablets */
@media screen and (max-width:768px){
    #main{
        flex-direction: column;
    }
    .container{
        width: 100%;
        height: 100%;
    }
    #container1{
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    }
    #container2{
        width: 100%;
    }
    #container3{
        width: 100%;
        border-radius: 0px 0px 20px 20px;
    }
    #temp-date{
        height: 100%;
        border-radius: 20px 20px 0px 0px;
    }
    #info1,#info2,#info3{
        width: 0;
        height: 0;
    }
    #clock{
        visibility: collapse;
        height: 0;
        width: 0;
    }
    #clock{
        visibility: collapse;
        width: 0;
        height: 0;
    }
    #overview-four-boxes{
        height: 100%;
    }
    #overview{
        line-height: 0;
    }
    #title{
        font: 0.1rem;
        position: absolute;
        visibility: collapse;
    }
    #four-boxes{
        height: 80%;
    }
}

/* desktop and laptop size */
@media screen and (min-width:992px){
    #searchSection{
        background-color: green;
        width: 20vw;
        visibility: visible;
        margin-left: 1vw;
    }
    #main{
        width: 75vw;
        height: 95vh;
    }
}

/* large screen like tv */
@media screen and (min-width:1200px) {
    #searchSection{
        background-color: green;
        width: 20vw;
        visibility: visible;
        margin-left: 1vw;
    }
    #main{
        width: 75vw;
        height: 95vh;
    }
}
