/* mobile phones */
@media screen and (max-width:576px){
    #main{
        flex-direction: column;
    }
    #container1{
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    }
    #container3{
        width: 100%;
        border-radius: 0px 0px 20px 20px;

    }
    #temp-date{
        height: 100%;
        border-radius: 20px 20px 0px 0px;
    }
    #info1,#info2,#info3{
        width: 0;
        height: 0;
    }
}
/* tablets */
@media screen and (max-width:768px){
    #main{
        flex-direction: column;
    }
    #container1{
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    }
    #container3{
        width: 100%;
        border-radius: 0px 0px 20px 20px;
    }
    #temp-date{
        height: 100%;
        border-radius: 20px 20px 0px 0px;
    }
    #info1,#info2,#info3{
        width: 0;
        height: 0;
    }
}

/* desktop and laptop size */
@media screen and (min-width:992px){
    #searchSection{
        background-color: green;
        width: 20vw;
        visibility: visible;
        margin-left: 1vw;
    }
    #main{
        width: 75vw;
        height: 95vh;
    }
}

/* large screen like tv */
@media screen and (min-width:1200px) {
    #searchSection{
        background-color: green;
        width: 20vw;
        visibility: visible;
        margin-left: 1vw;
    }
    #main{
        width: 75vw;
        height: 95vh;
    }
}
