/* mobile phones */
@media screen and (min-width:576px){

}
/* tablets */
@media screen and (min-width:768px){
    
}

/* desktop and laptop size */
@media screen and (min-width:992px){
    #searchSection{
        background-color: green;
        width: 20vw;
        visibility: visible;
    }
    #main{
        width: 75vw;
        height: 95vh;
    }
}

/* large screen like tv */
@media screen and (min-width:1200px) {
    #searchSection{
        background-color: green;
        width: 20vw;
        visibility: visible;
    }
    #main{
        width: 75vw;
        height: 95vh;
    }
}
