*{
    font-size: 24px;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
}

body{
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
}

/* all the objects */
#main{
    background-color: rgb(4, 4, 128);
    display: flex;
    border-radius: 20px;
}

/* containers */
.container{
    border-radius: 20px 0px 0px 20px;
    height: 98vh;
    width: 98vw;
}
#container1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #a9a8a8;
}
/* information boxes in container1 */

#temp-date{
    background-color: rgb(232, 232, 232);
    height: 30%;
    width: 100%;
    border-radius: 20px 0px 20px 20px;
}
#info1,#info2,#info3{
    background-color: rgb(232, 232, 232);
    height: 23%;
    width: 100%;
    border-radius: 20px;
}
#info3{
    border-radius: 20px 20px 0px 20px;
}


#container2{
    background-image:url(images/ThunderStorm.jpg);
    background-size: cover;
    width: 50%;
    border-radius: 0;
    color: white;
    background-color: pink;
    display: flex;
    flex-direction: column;
}

/* container 2 elements */
#title{
    font-size: 2rem;
    text-align: center;
    line-height: 0;
}

/* clock-section */


#clock{
    font-size: 2rem;
    text-align: center;
    margin: 0rem 5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
#clock div{
    color: white;
    display: flex;
    background-color: slateblue;
    flex-direction: column;
    margin: 1rem 0.1rem 0rem;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 30%);
}
#clock div #text{
    background-color: rgb(4, 4, 128);
    margin: 0px;
    padding: 0.2rem;
}
#clock div #ampm{
    background-color: green;
    margin: 0px;
    padding: 0.2rem;
}

#overview{
    font-size: 1rem;
    margin-left: 1rem;
    display: inline;
}
#overview-four-boxes{
    height: 30%;
    width: 100%;
}
#four-boxes{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#four-boxes div{
    background-color: rgba(255, 255, 255, 0.51);
    width: 90%;
    height: 95%;
    border-radius: 20px;
    margin: 2% auto;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
}
#container3{
    background-color: rgb(4, 4, 128);
    border-radius:0px 20px 20px 0px;
}
/* container3 objects */

/* Drawer */
#searchSection{
    border-radius: 20px;
    background-color: green;
    height: 98vh;
    visibility: collapse;
}